button {
    border-radius: 10px;
    background-color: khaki;
    cursor: pointer;
  }

li {
    color: mintcream;
    font-family: cursive;
}

body {
    background-color: dodgerblue;
}

h1 {
    color: khaki;
}

div {
    margin: auto;
    width: 10%;
    padding: 10px;
}

a {
    text-decoration: none;
    color: khaki;
    padding: 1px;
}